<% layout('layouts/boilerplate')%>
<div class="row d-flex">
  <div class="col col-5">
      <img src="/images/ppl.jpg" alt="" style="height: 500px; width:500px;" srcset="">
  </div>
  <div class="col col-7 " style="height: 100vh;">
  <h1 class="text-center">New book</h1>
    <form
      action="/books"
      method="POST"
      novalidate 
      class="validated-form mr-5 pr-5" 
      enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Book's Title</label>
        <input
          class="form-control border-0 border-bottom"
          type="text"
          id="title"
          name="book[title]"
          required/>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control border-0 border-bottom"
          type="text"
          id="location"
          name="book[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label " for="description" placeholder="max 20 words">How can we contact you?</label>
        <textarea
          class="form-control border-0 border-bottom"
          type="text"
          id="description"
          name="book[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <div class="form-file custom-file">
          <input
            type="file"
            class="form-file-input border-0 border-bottom"
            id="image"
            name="image"
            multiple
          />
          <label class="form-file-label" for="image">
            <span class="form-file-text custom-file-label border-0 border-bottom"
              >Choose image(s)...</span
            >
            <span class="form-file-button">Browse</span>
          </label>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add book</button>
      </div>
    </form>
    <!-- <a href="/books">All books</a> -->
  </div>
</div>
