<footer
  class="footer py-3 mt-auto sticky-footer"
  style="background-color: rgb(27, 96, 88)">
  <div class="container text-light">
    <div class="row">
      <div class="col-md-6">
        <p class="text-light">
          &copy; 2023 Exchange book Cambodia | All rights reserved!
        </p>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="list-inline">
          <li class="list-inline-item"><a>Privacy Policy</a></li>
          <li class="list-inline-item"><a>Terms of Use.</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
